.map {
  text-align: center;
}

.map__title {
  color: $pseudo-element-color;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;

  & a:hover {
    text-decoration: underline;
  }

  &:after {
    content: "";
    display:block;
    width: 60px;
    height: 3px;
    margin: 20px auto 0;
    
    background-color: $pseudo-element-color;
  }
}